@use '../../styles/tools' as *;

.back {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 64px;
  min-height: 100vh;
  background-image: url('/static/back.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px 28px;
  background-color: $color-medium-grey;
  border-right: 1px solid $color-light-grey;
}