<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Мессенджер</title>
  <link rel="stylesheet" href="./src/styles/index.scss">
</head>

<body style="padding-top: 30px; padding-bottom: 30px;">
  <nav>
    <ul style="display: flex; gap: 10px;">
      <li>
        <a href="/src/pages/500/500.hbs" style="color: #0F3D97;">500</a>
      </li>
      <li>
        <a href="/src/pages/404/404.hbs" style="color: #0F3D97;">404</a>
      </li>
      <li>
        <a href="/src/pages/profile/profile.hbs" style="color: #0F3D97;">Профиль</a>
      </li>
      <li>
        <a href="/src/pages/edit-password/edit-password.hbs" style="color: #0F3D97;">Пароль</a>
      </li>
      <li>
        <a href="/src/pages/chats/chats.hbs" style="color: #0F3D97;">Чаты</a>
      </li>
    </ul>
  </nav>

  <div style="display: flex; align-items: flex-start; gap: 10px; margin-top: 30px">
    {{> login-popup/login-popup }}
    {{> sign-up-popup/sign-up-popup }}
    {{> avatar-popup/avatar-popup }}
    {{> user-popup/user-popup }}
  </div>
</body>

</html>
