@use '../../styles/tools' as *;

.error-main {
  @include flex-row;
  height: $height-100;
}

.error-container {
  @include flex-row;
  @include circle;
}

.error {
  @include flex-column;
  color: $color-white;
  font-weight: $medium;

  &__code {
    font-size: $font-size-xl;
    line-height: $line-height;
  }

  &__description {
    font-size: $font-size-l;
    line-height: $line-height;
  }

  &__link {
    font-size: $font-size-m;
    line-height: $line-height;
    margin-top: 45px;
    color: $color-navy-blue;
  }
}
