<div class="error-container">
  <div class="error">
    <h1 class="error__code">{{ code }}</h1>
    <p class="error__description">{{ description }}</p>
    <button class="error__link-button" type="button">Назад к чатам</button>
  </div>
</div>
