<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>500 | Мессенджер</title>
  <link rel="stylesheet" href="../../styles/index.scss">
</head>

<body>
  {{> error/error code="500" description="Мы уже фиксим" }}
</body>

</html>
