<div class="delete-chat-popup__container">
  <h1 class="popup__title delete-chat-popup__title">{{title}}</h1>
  <form class="delete-chat-popup-form">
    <fieldset class="delete-chat-popup-form__fieldset">
      {{{submitButton}}}
    </fieldset>
  </form>
