@use '../../../styles/tools' as *;

.chats-list-container {
  @include flex-column;

  justify-content: flex-start;
  width: 24%;
  height: $height-100;
  padding: 20px 10px 0;
  border-right: 1px solid $color-light-grey;
  background-color: $color-medium-grey;
}

.chats-list {
  width: $width-100;
  max-height: 100vh;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &__link {
    @include flex-row;

    width: $width-100;
    align-items: center;
    justify-content: space-between;
  }

  &__new-chat {
    @include flex-row;

    gap: 8px;
  }

  &__profile {
    @include flex-row;

    gap: 8px;
  }
}
