<div class="chats-list__link">
  <a class="chats-list__profile-button" href="/profile" target="_self">
    Профиль
  </a>
  <img class="chats-list__arrow" />
</div>
{{{search}}}
<ul class="chats-list">
  {{{chats}}}
</ul>
