<div class="chat-popup__container">
  <h1 class="popup__title chat-popup__title">{{ title }}</h1>
  <form class="chat-popup-form">
    <fieldset class="chat-popup-form__fieldset">
      <label class="chat-popup-form__label" for="chat">Название чата</label>
      <input class="chat-popup-form__input" type="text" id="chat" name="chat" required />
      {{{submitButton}}}
    </fieldset>
  </form>
</div>
