@use '../../styles/tools' as *;

.sign-up-container {
  @include flex-row;

  height: $height-100;
}

.sign-up {
  @include flex-column;
  @include popup-shape;

  margin: auto;
  width: 340px;
  padding: 50px 30px 30px;

  &__title {
    font-size: $font-size-m;
    line-height: $line-height;
    padding-bottom: 40px;
  }
}
