<div class="user-popup__container">
  <h1 class="popup__title user-popup__title">{{title}}</h1>
  <form class="user-popup-form">
    <fieldset class="user-popup-form__fieldset">
      {{{loginInput}}}
      {{{submitButton}}}
    </fieldset>
  </form>
</div>
