@use '../../../styles/tools' as *;

.profile-button {
  color: $color-grey;
  font-size: $font-size-s;
  line-height: $line-height;
  font-weight: $medium;
  cursor: pointer;
}

.profile-arrow {
  width: 6px;
  height: 10px;
}
