@use '../../styles/tools' as *;

.sign-form {
  @include flex-column;
  width: $width-100;

  &__fieldset {
    @include flex-column;
    gap: 16px;
  }

  &__button {
    &_type_login {
      margin-top: 130px;
    }

    &_type_signup {
      margin-top: 30px;
    }
  }

  &__link-button {
    color: $color-azure;
    font-size: $font-size-s;
  }
}
