@use '../../styles/tools' as *;

.input-block {
  @include flex-column;

  align-items: flex-start;
  width: $width-100;

  &__label {
    font-size: $font-size-s;
    color: $color-grey;
    padding-bottom: $pb-7;
  }

  &__input {
    color: $color-black;
    font-size: $font-size-m;
    border-bottom: 1px solid $color-azure;
    padding-bottom: $pb-7;

    &::-webkit-input-placeholder {
      @include input-placeholder;
    }

    &::-moz-placeholder {
      @include input-placeholder;
    }
  }

  &__error {
    display: none;
    font-size: $font-size-s;
    color: $color-red;
    padding-top: 7px;
  }
}
