<div class="avatar {{ class }}">
  <img class="avatar__photo" src="../../../static/avatar.svg" alt="Аватар пользователя" />
  <button class="avatar__button" type="button">Поменять аватар</button>
</div>
