@use '../../styles/tools' as *;

.edit-password-main {
  @include flex-row;

  height: $height-100;
}

.edit-password {
  @include flex-column;

  width: 510px;

  &__form {
    margin-top: 95px;
  }

  &__button {
    width: 280px;
    margin-top: 160px;
  }
}
