<button class="profile__button edit-form__button edit-form__button_type_edit" type="button">
  Изменить данные
</button>
<a class="profile__button edit-form__button edit-form__button_type_edit" href="/edit-password">
  Изменить пароль
</a>
<a class="profile__button edit-form__button edit-form__button_type_logout" href="/login">
  Выйти
</a>
