<button class="profile__button edit-form__button edit-form__button_type_edit" type="button">
  Изменить данные
</button>
<button class="profile__button edit-form__button edit-form__button_type_password" type="button">
  Изменить пароль
</button>
<button class="profile__button edit-form__button edit-form__button_type_logout" type="button">
  Выйти
</button>
